name: Build Tab A9+ Kernel
on:
  workflow_dispatch: # Allows manual trigger from Actions tab

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Install Build Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y bc build-essential flex bison libssl-dev libelf-dev clang llvm lld gcc-aarch64-linux-gnu

      - name: Build Kernel
        run: |
          # 1. FORCE SCRIPT PERMISSIONS
          # We target the specific wrapper causing the 'Permission denied'
          chmod +x scripts/gcc-wrapper.py
          find scripts/ -type f -exec chmod +x {} +
          find . -type f -name "*.sh" -exec chmod +x {} +
          
          # 2. SETUP ENVIRONMENT
          export ARCH=arm64
          export CROSS_COMPILE=aarch64-linux-gnu-
          export CLANG_TRIPLE=aarch64-linux-gnu-
          
          # 3. KSU FOLDER & MAKEFILE
          if [ -d "Kernel-SU-Next-Legacy" ]; then mv Kernel-SU-Next-Legacy drivers/kernelsu; fi
          cp drivers/kernelsu/Kbuild drivers/kernelsu/Makefile || true
          
          # 4. CONFIGURATION (Strict GCC for tools)
          make ARCH=arm64 HOSTCC=gcc CC=gcc vendor/gta9pwifi_eur_open_defconfig
          
          ./scripts/config --disable SECURITY_DEFEX
          ./scripts/config --disable SEC_RESTRICT_FORK
          ./scripts/config --enable KSU
          ./scripts/config --enable KSU_NEXT
          ./scripts/config --enable KSU_NEXT_MANUAL_HOOK
          
          make ARCH=arm64 HOSTCC=gcc CC=gcc olddefconfig
          
          # The Final Build Command
          # We add the specific ASM include paths to KCFLAGS
          make ARCH=arm64 \
          CC=clang \
          HOSTCC=gcc \
          CC_FOR_BUILD=gcc \
          CLANG_TRIPLE=aarch64-linux-gnu- \
          -j1 \
          KCFLAGS="-I$(pwd)/include -I$(pwd)/arch/arm64/include -I$(pwd)/arch/arm64/include/generated -I$(pwd)/include/uapi -I$(pwd)/arch/arm64/include/uapi -I$(pwd)/arch/arm64/include/generated/uapi -Wno-error=frame-larger-than= -Wno-strict-prototypes -Wno-implicit-function-declaration"



      - name: Upload Kernel Image
        uses: actions/upload-artifact@v4
        with:
          name: Tab-A9-Plus-Kernel
          path: arch/arm64/boot/Image
