name: Build Tab A9+ Kernel
on:
  workflow_dispatch: # Allows manual trigger from Actions tab

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Install Build Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y bc build-essential flex bison libssl-dev libelf-dev clang llvm lld gcc-aarch64-linux-gnu

      - name: Build Kernel
        run: |
          # 1. Fix script permissions to prevent "Permission Denied"
          chmod +x scripts/*.sh
          
          # 2. Set Environment Variables
          export ARCH=arm64
          export CROSS_COMPILE=aarch64-linux-gnu-
          export CLANG_TRIPLE=aarch64-linux-gnu-
          
          # 3. Create output directory
          mkdir -p out

          sed -i 's/void try_schedule_zs_compact()/void try_schedule_zs_compact(void)/g' mm/zsmalloc.c
          sed -i '30i #ifndef sdfat_debug_warn_on\n#define sdfat_debug_warn_on(cond) WARN_ON(cond)\n#endif' fs/sdfat/blkdev.c
          
          # 4. Generate initial .config
          # We use vendor path because that is where your gta9pwifi file lives
          make O=out ARCH=arm64 vendor/gta9pwifi_eur_open_defconfig
          
          # 5. Apply Manual Hook Overrides
          # These tell the code to activate KernelSU
          echo "CONFIG_KSU=y" >> out/.config
          echo "CONFIG_KSU_MANUAL_HOOK=y" >> out/.config
          echo "# CONFIG_KSU_KPROBES_HOOK is not set" >> out/.config
          
          # 6. FORCE Manual Hook Definition
          # This fixes the "No hooks were defined" error by injecting the flag into Kbuild
          echo "ccflags-y += -DKSU_MANUAL_HOOK" >> drivers/kernelsu/Kbuild
          
          # 7. Auto-resolve new config questions to prevent "End of file" errors
          make O=out ARCH=arm64 olddefconfig
          
          make O=out ARCH=arm64 CC=clang -j$(nproc --all) \
          KCFLAGS="-DCONFIG_KSU -DCONFIG_KSU_NEXT -DCONFIG_KSU_NEXT_MANUAL_HOOK -Wno-error=frame-larger-than="

      - name: Upload Kernel Image
        uses: actions/upload-artifact@v4
        with:
          name: Tab-A9-Plus-Kernel
          path: out/arch/arm64/boot/Image
